{% if record.accepted == False %}
    <form method="POST" action="{% url 'appointmentlist' %}">
    {% csrf_token %}
 
    <input type="date" name="date" class="form-control mb-2" 
    placeholder="dd-mm-yyyy"
    min="2020-01-01" max="2030-12-31">
    <input hidden="true" name="appointment-id" value="{{record.id}}">
  
    <td>
    <input class="btn-block btn-primary form-control" type="submit" value="Accept">
    </td>

    </form>
{% else %}
    {{record.appointment_date|date:'m/d/Y'}}
    <td>
    <input class="confirm-delete btn-block btn-danger form-control" type="submit" value="Delete" href="{% url 'appointment-delete' pk=record.id %}" data-toggle="modal" data-target="#confirmDeleteModal" id="deleteButton{{record.id}}" >
    </td>

{% endif %}
        <tr>
          <td colspan="5", style="color:#808080"> <em>Request: </em> {{record.request}}</td>
        </tr>