{% extends 'base.html' %}
{% load static %}

{% block title %}Carage{% endblock %}

{% block content %}
<section class="container py-5"  style="margin-block:20px;" id="team">
    <div class="row text-center ">
        <div class="col-lg-8 mx-auto">
            <h1 class="display-4">Our CarAge experts.</h1>
            <p class="lead">We take care of your car, no matter the age.
            </p>
        </div>
    </div>

    <div class="container">
        <div class="row text-center">

            <!-- Team item -->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'images/mal1.jpg' %}" alt="" class=" mh-100img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Matti Meikä</h5>
                    <span class="small text-uppercase text-muted">Sales and part procurement expert</span>
                </div>
            </div><!-- End -->

            <!-- Team item -->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'images/mal3.jpg' %}" alt="" class=" mh-100 rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Pertti Paivio </h5>
                    <span class="small text-uppercase text-muted">Engine and electronics expert</span>
                </div>
            </div><!-- End -->

            <!-- Team item -->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'images/fem1.jpg' %}" alt="" class=" mh-100img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Tiina Toivio</h5>
                    <span class="small text-uppercase text-muted">Chassis and suspension expert</span>
                </div>
            </div><!-- End -->

            <!-- Team item -->
            <div class="col-xl-3 col-sm-1 mb-2">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'images/mal2.jpg' %}" alt="" class=" mh-100img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Timothy Timsson</h5>
                    <span class="small text-uppercase text-muted">General expert and tyres</span>
                </div>
            </div><!-- End -->
        </div>
    </div>
</section><!-- End -->



<section id="services">
  <div class="bg-primary text-center py-2 mb-4">
      <div class="container">
        <h1 class="fw-light text-white">Services</h1>
        <p class="overview">Every car has a story and we keep the story going. We give the options and You decide. Let's talk.</p>
      </div>
    </div>
  <div class="container">
    <div class="row">
    <!-- 1 -->
      <div class="col-xl-4 col-md-4 mb-4">
        <div class="card border-0 shadow">
          <img src="{% static 'images/Red_Car.png' %}" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Regular maintenance</h5>
            <div class="card-text text-black-50">Maintenance according manufacturer program.</div>
          </div>
        </div>
      </div>
      <!-- 2 -->
      <div class="col-xl-4 col-md-4 mb-4">
        <div class="card border-0 shadow">
          <img src="{% static 'images/accident.png' %}" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Damage repair</h5>
            <div class="card-text text-black-50">Something broke down. We fix it.</div>
          </div>
        </div>
      </div>
      <!-- 3 -->
      <div class="col-xl-4 col-md-4 mb-4">
        <div class="card border-0 shadow">
          <img src="{% static 'images/motor.png' %}" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Tuning up</h5>
            <div class="card-text text-black-50">It can be better!</div>
          </div>
        </div>
      </div>

      
      
    </div>
    <!-- /.row -->
  
  </div>
</section>

<section class="text-center conatiner" style="margin-block:100px;" id="reviews">
    <h2>References</h2>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>   
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">		
            <div class="carousel-item active">
                <div class="img-box"><img src="{% static 'images/rev1.png' %}" alt=""></div>
                <p class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam imperdiet fringilla tellus, nec aliquam nisl fringilla eu. Ut dignissim ligula lacus, non suscipit neque rutrum sit amet. In finibus, mauris a dapibus molestie, metus eros suscipit dolor, id ornare urna augue eu neque. Ut id ante iaculis, auctor dolor vel, ultricies diam. Praesent diam quam, malesuada vel blandit a, mollis ac diam. Phasellus libero erat, pellentesque ac blandit quis, fringilla id mi. </p>
                <p class="overview">Review Source 1</p>
                <p class="overview"> _ </p>
            </div>
            <div class="carousel-item">
                <div class="img-box"><img src="{% static 'images/rev2.png' %}" alt=""></div>
                <p class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas feugiat vel sapien ac facilisis. Suspendisse tellus ante, feugiat nec viverra vel, lacinia a neque. Aliquam finibus nec massa id placerat. Mauris condimentum malesuada maximus. Praesent iaculis odio eget mattis mollis. Donec vitae consequat lectus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce porta convallis nisi, id dictum orci ultricies vitae. </p>
                <p class="overview">Review Source 2</p>
                <p class="overview"> _ </p>
            </div>
            <div class="carousel-item">
                <div class="img-box"><img src="{% static 'images/rev3.png' %}" alt=""></div>
                <p class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Aliquam finibus nec massa id placerat. Mauris condimentum malesuada maximus. Praesent iaculis odio eget mattis mollis. Donec vitae consequat lectus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce porta convallis nisi, id dictum orci ultricies vitae. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                <p class="overview">Review Source 3</p>
                <p class="overview"> _ </p>
                
            </div>		
        </div>

    </div>

</section>


<section id="contact" class="card m-4 p-4">
    <div class="container">
        <div class="row text-center">
          
            <div class="col-sm-6">
            <div class="contact-detail-box">
              <i class="far fa-envelope text-colored fa-3x"></i>
              <h4>Get In Touch</h4>
              <abbr title="Phone">P:</abbr> (01) 1010 1010<br>
              E: <a href="mailto:info@carage.gom" class="text-muted">info@carage.gom</a>
            </div>
          </div><!-- end col -->
  
          <div class="col-sm-6">
            <div class="contact-detail-box">
              <i class="fa fa-map-marker fa-3x text-colored"></i>
              <h4>Our Location</h4>
  
              <address>
              Mainstreet 2<br>
              00100 Town<br>
            </address>
            </div>
          </div><!-- end col -->
  


  
  
        </div>
        <!-- end row -->
  
  
        <div class="row">
          <div class="col-sm-6">
           <div class="contact-map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3024.5192390026714!2d-73.6255922849351!3d40.70658467933242!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c27d1c3bd8270d%3A0xe590dc48aa20ec66!2s2%20Main%20St%2C%20Hempstead%2C%20NY%2011550%2C%20Yhdysvallat!5e0!3m2!1sfi!2sfi!4v1630941448499!5m2!1sfi!2sfi" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" style="width: 100%; height: 360px;"></iframe>
            </div>


          </div><!-- end col -->
  
          <!-- Contact form -->
          <div class="col-sm-6">



            <form role="form" name="ajax-form" id="ajax-form" method="post" class="form-main" action="{% url 'home' %}">
            {% csrf_token %}
              <div class="form-group">
                <label for="name2">Name</label>
                <input required class="form-control" id="name2" name="name" type="text" placeholder="name">
                <div class="error" id="err-name" style="display: none;">Please enter name</div>
              </div> <!-- /Form-name -->
  
              <div class="form-group">
                <label for="email2">Email</label>
                <input required class="form-control" id="email2" name="email" type="email" placeholder="email">
                <div class="error" id="err-emailvld" style="display: none;">E-mail is not a valid format</div> 
              </div> <!-- /Form-email -->
  
              <div class="form-group">
                <label for="message2">Message</label>
                <textarea required class="form-control" id="message2" name="message" rows="5" placeholder="message">Message</textarea>
  
                <div class="error" id="err-message" style="display: none;">Please enter message</div>
              </div> <!-- /col -->
  
              <div class="row">            
                  <button type="submit" class="btn btn-primary btn-shadow btn-rounded w-md" id="send">Send</button>




                </div> <!-- /col -->
              </div> <!-- /row -->
  
            </form> <!-- /form -->


          </div> <!-- end col -->
  
        </div> <!-- end row -->
            
      </div>
</section>


{% endblock content %}