<template>
  <div class="container">
    <h2>Create a new invoice</h2>
    <form @submit.prevent="handleSubmit">
      <div class="form">
        <div class="form__aside">
          <div class="form__field">
            <label for="Appointment">Select an appointment</label>
            <select id="appointment" name="appointment" required>
              <option value="--">--</option>
              <option v-for="appointment in appointments" :key="appointment.pk" :value="appointment.id">
                {{ appointment.first_name }} {{ appointment.last_name }} ({{ appointment.appointment_date }}) [{{ appointment.numberOfInvoices }}]
              </option>
            </select>
          </div>
          <div class="form__field">
            <label for="date">Date</label>
            <input id="date" name="date" type="date" required />
          </div>
          <div class="form__field">
            <label for="due_date">Due date</label>
            <input id="due_date" name="due_date" type="date" required />
          </div>
          <div class="form__field">
            <label for="items">Add or remove lines</label>
            <span class="plus radius" @click="addItem" style="--l:35px;--t:3px;--c2:green" ></span>
            <span class="minus radius" @click="deleteItem(counter)" style="--l:35px;--t:3px;--c2:red"></span>
          </div>
          <div class="form__buttons">
          <b-button class="btn-primary" type="submit">Create invoice</b-button>
          </div>
          <!-- <div class="form__buttons">
          <b-button variant="submit" disabled>Print</b-button>
          </div> -->
        </div>
        <div>
          <div class="form__main" v-for="(item, counter) in items" v-bind:key="`item-${counter}`">
              <div class="form__field">
                <label v-if="counter === 0" for="quantity">Qty</label>
                <input class="quantity"
                  :id="'quantity-'+counter"
                  :name="'quantity-'+counter"
                  :v-model="'field.quantity-'+counter"
                  type="number"
                  min="0"
                  max="10"
                  required
                />
              </div>
              <div class="form__field">
                <label v-if="counter === 0" for="description">Description</label>
                <input 
                  :id="'description-'+counter"
                  :name="'description-'+counter"
                  :v-model="'field.description-'+counter"
                  type="text" 
                  required 
                  />
              </div>
              <div class="form__field">
                <label v-if="counter === 0" for="price">Price</label>
                <input
                  :id="'price-'+counter" 
                  :name="'price-'+counter" 
                  :v-model="'field.price-'+counter" 
                  type="number"
                  min="0"
                  step="0.01"
                  required
                />
              </div>
              <div class="form__field">
                <label v-if="counter === 0" for="taxed">Taxed</label>
                <input 
                :id="'taxed-'+counter"  
                :name="'taxed-'+counter"
                :v-model="'field.taxed-'+counter" 
                type="checkbox" />
              </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  name: "InvoiceCreate",
  data: function() {
    return {
      appointments: [
        { id: 1, first_name: "gname", last_name: "qqqqqqqqq.qq" , appointment_date:"2021-09-01"},
        { id: 2, first_name: "aname", last_name: "aaaaaaaa.aa" , appointment_date:"2021-09-09"}
      ],
      items:[
       {
        // quantity: '',
        // description: '',
        // price: '',
        // taxed: ,
       }
      ]
    };
  },
  methods: {
    addItem(){
      this.items.push({
      })
    },
    deleteItem(counter){
      this.items.splice(counter,1);
    },
    // Later
    // computed: { 
    //   total: function() {
    //     return parseInt(this.addons) + parseInt(this.radio) + parseInt(this.select);
    //   }
    // },

    handleSubmit: function(event) {
      const formData = new FormData(event.target);

      //console.log([...formData]);
      let counter = 0; 
      console.log([formData.keys()]);
      for (var key of formData.keys()) {
        if (key.startsWith("quantity")) {counter++ } 
        //console.log(key);
      }
      
      const items = [] ;
      for (let i = 0; i < counter; i++) {
      //console.log(i)
      const item = 
        {
          quantity: formData.get("quantity-"+i),
          description: formData.get("description-"+i),
          price: formData.get("price-"+i),
          taxed: Boolean(formData.get("taxed-"+i))
        }
      ;
      formData.delete("quantity-"+i);
      formData.delete("description-"+i);
      formData.delete("price-"+i);
      formData.delete("taxed-"+i);
      items.push(item)
      //console.log(item)
      }
      const data = Object.fromEntries(formData);
      data.items = items;
      //console.log(JSON.stringify(data));

      const csrfToken = this.$cookies.get("csrftoken");

      fetch("/api/invoices/", {
        method: "POST",
        
        headers: { "Content-Type": "application/json",
        "X-CSRFToken": csrfToken 
        },

        body: JSON.stringify(data)
      })
        .then(response => {
          if (!response.ok) throw Error(response.statusText);
          return response.json();
        })
        .then(json => {
          console.log(json);
        })
        .catch(err => console.log(err));
    }
  },
  mounted() {
    fetch("/api/appointments/")
      .then(response => {
        if (!response.ok) throw Error(response.statusText);
        return response.json();
      })
      .then(json => {
        this.appointments = json;
      });
  }
};
</script>

<style>
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");
h2 {
  /*font-family: "Balsamiq Sans", cursive;*/
  font-size: 2em;
  margin-bottom: 2em;
}

.container {
  /* font-family: "Nunito", sans-serif; */
  font-weight: 400;
  font-size: 20px;
  max-width: 900px;
  margin: auto;
}

.form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.form__field {
  margin-bottom: 0.1em;
  margin-left: 0.1em;

}

.form__field label {
  display: block;
  margin-bottom: 0.5em;
    margin-left: 1em;
}

.form__field input,
select {
  height: 30px;
  margin-bottom: 0.5em;
  margin-left: 1em;
}

.form__field select {
  font-size: 0.6em;
}

.form__field input[type="date"] {
  font-size: 0.6em;
}

.form__field select {
}

.form__field input {
}

.quantity {
  width: 50px;
}

.itemsymbols {
  font-size: 2em;
}

.plus {
  --t:2px;   /* Thickness */
  --l:40px;  /* size of the symbol */
  --s:10px;  /* space around the symbol */
  --c1:#fff; /* Plus color*/
  --c2:#000; /* background color*/

  display:inline-block;
  width:var(--l);
  height:var(--l);
  padding:var(--s);
  box-sizing:border-box; /*Remove this if you don't want space to be included in the size*/
  
  background:
    linear-gradient(var(--c1),var(--c1)) content-box,
    linear-gradient(var(--c1),var(--c1)) content-box,
    var(--c2);
  background-position:center;
  background-size: 100% var(--t),var(--t) 100%;
  background-repeat:no-repeat;
}

.radius {
  border-radius:50%;
}

.minus {
  --t:2px;   /* Thickness */
  --l:40px;  /* size of the symbol */
  --s:10px;  /* space around the symbol */
  --c1:#fff; /* Plus color*/
  --c2:#000; /* background color*/

  display:inline-block;
  width:var(--l);
  height:var(--l);
  padding:var(--s);
  box-sizing:border-box; /*Remove this if you don't want space to be included in the size*/
  
  background:
    linear-gradient(var(--c1),var(--c1)) content-box,
    var(--c2);
  background-position:center;
  background-size: 100% var(--t),var(--t) 100%;
  background-repeat:no-repeat;
}


#description {
}

.form__aside {
  display: flex;
  flex-direction: column;
}

.form__main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: flex-start;

  flex: 1 0 0;
}

@media screen and (min-width: 960px) {
  .form__main {
    flex-wrap: nowrap;
  }

  #description {
    min-width: 400px;
  }
}

.form__buttons {
  float: right;
  margin-top: 1em;
  margin-bottom: 1em;

}

.form__buttons button {
  /* border: 2px solid #222; */
  /* box-shadow: 5px 5px 0 #222; */
  font: inherit;
  font-size: 16px;
  background-color: #0275d8 ; 
  width: 150px;
  height: 40px;
  margin-right: 0.9em;
  padding: 2px;
}
</style>
